/*
 * animations css stylesheet
 */


/* cross fading between routes with ngView */

.view-container {
    position: relative;
}
.view-frame.ng-enter,
.view-frame.ng-leave {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.view-frame.ng-enter {
    -webkit-animation: 0.5s fade-in;
    -moz-animation: 0.5s fade-in;
    -o-animation: 0.5s fade-in;
    animation: 0.5s fade-in;
    z-index: 100;
}
.view-frame.ng-leave {
    -webkit-animation: 0.5s fade-out;
    -moz-animation: 0.5s fade-out;
    -o-animation: 0.5s fade-out;
    animation: 0.5s fade-out;
    z-index: 99;
}

/* exercise one demo modal */

.example-background {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    background-color: rgba( 0, 0, 0, 0.8);
    bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
}
.example-background.ng-animate.ng-hide-animate.ng-hide.ng-leave.ng-leave-active {
    opacity: 0;
}
.example-content.ng-animate {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.example-content.ng-leave.ng-leave-active,
.example-content.ng-enter {
    opacity: 0;
}
.example-content.ng-leave,
.example-content.ng-enter.ng-enter-active {
    opacity: 1;
}

/* added fade-in,fade-out animations */

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
